<% content_for :css do %>
  <%= stylesheet_link_tag "users/passwords" %>
<% end %>

<div class="password-box">
  <h2>パスワード変更</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-3">
      <%= f.label :password, "新しいパスワード", class: "form-label" %><br />
      <% if @minimum_password_length %>
        <em>(最低でも <%= @minimum_password_length %> 文字以上)</em><br />
      <% end %>
      <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード確認用", class: "form-label" %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワードを変更", class: "btn btn-secondary rounded-pill" %>
    </div>
  <% end %>

  <div class="links_box">
    <%= render "users/shared/links" %>
  </div>
</div>