<% content_for :css do %>
  <%= stylesheet_link_tag "users/passwords" %>
<% end %>

<div class="password-box">

  <% if params[:not_forget].present? %>
    <h2>パスワード変更しますか?</h2>
  <% else %>
    <h2>パスワードをお忘れですか?</h2>
  <% end %>

  <%= form_for(resource, as: resource_name, url: user_password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@email.com", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワードリセット用のメールを送信", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="links_box">
    <%= render "users/shared/links" %>
  </div>
</div>